.users-main-container {
    margin-left: 280px;
    padding: 40px;
    min-height: 100vh;
    width: calc(100% - 280px);
    box-sizing: border-box;
}

.table-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.title-table {
    color: #003366;
    font-size: 2em;
    margin: 0;
    border-bottom: 3px solid #006edf;
    padding-bottom: 10px;
}

.filter-actions {
    display: flex;
    gap: 10px;
    button {
        background: rgba(255, 255, 255, 0.87);
        border: #fff;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    }
}

.delete-user-button {
    margin-right: 0;
}

@media (max-width: 1024px) {
    .users-main-container {
        margin-left: 0;
        width: 100%;
        padding: 80px 20px 20px 20px;
    }

    .title-table {
        margin: 0;
    }
    .top-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .delete-user-button {
        margin-right: 0;
    }

    .filter-actions {
        margin-bottom: 10px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .table-container {
        margin: 0;
        width: 100%;
        height: auto;
    }
    .popup {
        width: 90%;
        max-width: 350px;
        height: 600px;
    }
    .popup .form {
        padding: 20px;
    }

    .popup .close {
        margin-right: 0;
    }

    .popup .options-class {
        width: 10px;
    }
}