HOST= localhost (Proyecto en local) o IP servidor (Proyecto en producción)
PORT= (3000-5000) (Proyecto en local) o Puerto 80 (Proyecto en producción)
DB_USERNAME= Nombre de usuario en la instancia de PostgreSQL
DB_PORT= Puerto de PostgreSQL (5432 por defecto)
PASSWORD= Contraseña de usuario en la instancia de PostgreSQL
DATABASE= Nombre de la base de datos
ACCESS_TOKEN_SECRET= Secreto del JWT
cookieKey= Llave de la cookie
FRONTEND_URL= URL del frontend (http://localhost:5173 en desarrollo)
EMAIL_USER= Correo electrónico para envío
EMAIL_PASS= Contraseña del correo o App Password
SUPPORT_EMAIL= Email para soporte